@import "tailwindcss";

/* global.css  */

@layer components {
  .container-top {
    @apply flex flex-col justify-start items-center overflow-y-scroll;
  }

  .container-header {
    @apply flex flex-row items-center gap-x-2 p-2 px-3
  }

  .container-actual {
    @apply flex flex-col gap-y-7 justify-start p-3;
  }

  .container-pg1 {
    @apply flex flex-col gap-y-4
  }

  .btn {
    @apply cursor-pointer duration-300 hover:scale-110
  }

  /* Editor container */
  .editor-wrapper {
    width: 100%;
    max-width: 960px;
    height: 500px;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  /* push code  btn */
  .btn-pushcode {
    background-color: #2a2a2a;
    color: white;
    padding: 0.5rem;
    border-radius: 7px
  }
}